@import '../../styles/mixins.scss';

.wrapper {
    margin: 2rem 0 10rem 0;
    .headerActions{
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      .button{
        width: 7rem;
        margin-left: 1rem;
      }
    }
    .card {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin: 0.75rem 0;
      padding: 3rem;

      .cardContent{
        display: flex;
        flex-direction: column;

        @include desktop {
          flex-direction: row;
        }

        @include tablet {
          flex-direction: row;
        }
  
      .image {
        object-fit: contain;
        height: 10rem;
        max-width: 100%;        
        @include desktop {
                  height: 25rem;

        }
        @include tablet {
                  height: 25rem;

        }
      }
      .body{
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: space-between;
        height: 100%;
        padding-right: 2rem;

      .title {
        font-size: 28px;
        margin-top: 3rem;
        @include desktop {
          margin-top: 0rem;
        }

        @include tablet {
          margin-top: 0rem;
        }
  

      }

        .price {
          font-weight: bold;
          font-family: monospace;
          text-align: right;
          font-size: 21px;
  
          small {
            font-size: 14px;
          }
        }

      .category {
        font-size: 18px;
        color: gray;
      } 

      .description {
        font-size: 14px;
        }
    }}
  }
}
  